
*.html

.Rproj.user/1A479AB9/sources/prop/

.Rproj.user/1A479AB9/sources/s-FDB31169/

.Rproj.user/shared/notebooks/6516A4BC-Assignment 7/1/1A479AB9FDB31169/chunks.json

.Rproj.user/shared/notebooks/6516A4BC-Assignment 7/1/s/chunks.json

.Rproj.user/shared/notebooks/patch-chunk-names

.Rproj.user/shared/notebooks/paths
